:root {
    --main-accent: #880000;
    --main-black: #000000;
}
.nav-cross {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    display: grid;
    /*width: 300px;*/
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". up-arrow ."
    "left-arrow nav-middle right-arrow"
    ". down-arrow .";
}
.arrow-text {
    font-size: 35px;
    margin-top: 0;
}

.arrow-text--single {
    margin-top: 30px;
}
.up-arrow {
    grid-area: up-arrow;
    width: 150px;
    height: 150px;
    background: var(--main-accent);
}
.right-arrow {
    grid-area: right-arrow;
    height: 150px;
    width: 150px;
}
.down-arrow {
    grid-area: down-arrow;
    width: 150px;
    height: 150px;
}
.left-arrow {
    grid-area: left-arrow;
    height: 150px;
    width: 150px;
}

.left-arrow-img {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 25px;
}

.right-arrow-img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    margin-top: 25px;
}

.info-img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.nav-middle {
    grid-area: nav-middle;
    height: 150px;
    width: 150px;
    display: inline-grid;
    grid-template-columns: 75px 75px;
    grid-template-rows: 75px 75px;
    gap: 0 0;
    grid-template-areas:
    "ul ur"
    "dl dr";
}

.invisible {
    opacity: 0;
}

.logo {
    font-family: 'Nunito', sans-serif;
}

.line-one {
    font-weight: bold;
    font-size: 34px;
    /*margin-bottom: 0;*/
    /*margin-top: 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: ur;
}

.line-two {
    font-weight: bold;
    font-size: 34px;
    /*margin-top: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: dr;
}

.current-temp-icon {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: ul;
}

.goal-temp-icon {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: dl;
}

.svg {
    width: 80px;
}

.down {
    animation: movePull 5s linear 1;
    animation-fill-mode: forwards;
}

.right {
    animation: moveRight 5s linear 1;
    animation-fill-mode: forwards;
}

.left {
    animation: moveLeft 5s linear 1;
    animation-fill-mode: forwards;
}

@keyframes movePull {
    60% {
        transform:translate(-20px, 15px);
        width: 90px;
        height: 90px;
        fill: var(--main-black);
    }
    80% {
        transform:translate(-20px, 15px);
        width: 90px;
        height: 90px;
        fill: var(--main-accent);
    }
    100%{
        transform:translate(-50px, 90px);
        width: 150px;
        height: 10px;
        fill: var(--main-accent);
    }
}

@keyframes moveRight {
    60% {
        transform:translate(50px, 0px);
        width: 50px;
        height: 50px;
        fill: var(--main-black);
    }
    80% {
        transform:translate(50px, 0px);
        width: 50px;
        height: 50px;
        fill: var(--main-accent);
    }
    100%{
        transform:translate(90px, -50px);
        width: 10px;
        height: 150px;
        fill: var(--main-accent);
    }
}


@keyframes moveLeft {
    60% {
        transform:translate(-50px, 0px);
        width: 50px;
        height: 50px;
        fill: var(--main-black);
    }
    80% {
        transform:translate(-50px, 0px);
        width: 50px;
        height: 50px;
        fill: var(--main-accent);
    }
    100%{
        transform:translate(-50px, -50px);
        width: 10px;
        height: 150px;
        fill: var(--main-accent);
    }
}
